<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="Inves_Flow" connectionString="Data Source=PORTAL_DB_T;Initial Catalog=Inves_Flow;User ID=inves;Password=C82790E5-0B4D-45D2-B412-4CEEE21603DA;Connect Timeout=600" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>